.dashboard-parent{
    height: 868px;
    width:100%;
    background-color: $color-light-green;
}

.dashboard-child{
    height: 100%;
    display: flex;
    background-color:$color-light-green;
    width: 100%;
}

.dashboard-child-left{
    height: 100%;
    width: 20%;
    background-color: $color-clear-green;
}


.dashboard-child-right{
    height: 100%;
    width: 20%;
    background-color: $color-clear-green;
}

.dashboard-child-center{
    height: 100%;
    width:60%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.add-new-property-button{
    height: 35px;
    width: 175px;
    background-color: $color-light-green;
    border: 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 100%;
}

.desired-rent-filter-reset{
    // display: flex;
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}



.desired-rent-filter-reset hr{
    background-color: $color-dark-green;
    width: 775px;
    height: 3px;
    margin-top: 35px;
}

.desired-rent-filter-reset input{
    height: 30px;
    width: 75px;
}


//buttons
.desired-rent-filter-reset button{
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    height: 30px;
    width: 75px;
    font-size: 105%;
    font-weight: 550;
}
.filter-button{
    background-color: $color-light-green;
    color: $color-dark-green;
}

.reset-button{
    background-color: $color-dark-green;
    color: $color-white;
}