.header-parent{
    background-color: $color-mid-green;
    display: flex;
    height: 100px;
    width: 100%;
    text-decoration: none;
}

.header-parent button{
    outline: none;
}

.houser-header-textlogo{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.houser-header-textlogo img{
    padding:10px;
}

.houser-header-textlogo h1{
    padding: 10px;
    color: $color-white;
    font-size: 30px;
    font-family:'Open Sans',sans-serif;
    text-decoration: none;
}

.houser-header-textlogo button{
    padding: 10px;
    color: $color-white;
    background-color: $color-mid-green;
    font-size: 30px;
    font-family:'Open Sans',sans-serif;
    text-decoration: none;
    border:0;
    outline: none;
}
.houser-header-textlogo button:active{
    outline: none;
}

.houser-bold{
    font-weight: 700;
}
.dashboard{
    font-weight: 400;
    text-decoration: none;
}


.logout-parent{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-text{
    background-color: $color-mid-green;
    color:$color-white;
    font-family:'Open Sans',sans-serif;
    font-size: 20px;
    border: 0;
}

